<div class="main-wrap">
  <input id="slide-sidebar" type="checkbox" role="button" />
  <label for="slide-sidebar"><span><i class="fa fa-bars" aria-hidden="true"></i></span></label>
  <div class="sidebar">
    <img class="rebzoLogo" src="../assets/repzo-logo-blue.png">
    <hr>
    <div class="sidebarNav">
      <button><i class="fa fa-th-large" aria-hidden="true"></i>&nbsp; Dashbord</button>
      <button><i class="fa fa-sort-amount-desc" aria-hidden="true"></i>&nbsp; Timeline</button>
      <button><i class="fa fa-user" aria-hidden="true"></i> Clients</button>
      <button><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp; Representatives</button>
      <button><i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp; Report</button>
      <button><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp; Forms</button>
      <button><i class="fa fa-pie-chart" aria-hidden="true"></i>&nbsp; Sales</button>
      <button><i class="fa fa-comment" aria-hidden="true"></i>&nbsp; Chat</button>
    </div>
  </div>

  <div class="portfolio">
    <nav class="navbar navbar-default">
      <div class="container-fluid mainNav">
        <div class="navbar-header navbar-right infoCorner">

         <ul class="nav navbar-nav">
              <li>
                  <a href="#"><i class="fa fa-bell bellIcon" aria-hidden="true"></i></a>
              </li>
             <li>
                 <img class="img-sm" src="assets/avatar-img.png">
             </li>
            <li class="nameProf">
               <span> Ahmad Maradni</span>
            </li>
         </ul>

       </div>
     </div>
   </nav>

   <router-outlet></router-outlet>
   
 </div>
</div>